<form action="/form" method="post">
<div class="dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><a href="#">Colorado</a></li>
    <li><a href="#">Wyoming</a></li>
    <li><a href="#">Utah</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="#">Separated link</a></li>
  </ul>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Date</span>
      <input type="text" class="form-control" placeholder="12/02/16" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">State</span>
      <input type="text" class="form-control" placeholder="Colorado" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Region</span>
      <input type="text" class="form-control" placeholder="Berthoud Pass" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Avalanche Type</span>
      <input type="text" class="form-control" placeholder="Wet Slide" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Size of Avalanche</span>
      <input type="text" class="form-control" placeholder="Crown, Slide-length" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Elevation</span>
      <input type="text" class="form-control" placeholder="12,567 ft" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2">
      <span class="input-group-addon" id="sizing-addon2">Aspect</span>
      <input type="text" class="form-control" placeholder="North, northwest" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2 input-group-3">
      <span class="input-group-addon" id="sizing-addon2">Area Description</span>
      <input type="text" class="form-control" placeholder="Pass known as Hatchers" aria-describedby="sizing-addon2">
    </div>

    <div class="input-group input-group-2 input-group-3">
      <span class="input-group-addon" id="sizing-addon2">Route Description</span>
      <input type="text" class="form-control" placeholder="Ex. Veered left along the ridge lookers left of Togatee Parking lot." aria-describedby="sizing-addon2">
    </div>
    <div class="btn-group btn-1" role="group" aria-label="...">
      <input type="button" id= "submit" class="btn btn-default" value="submit">
    </div>
    </div>
  </div>
</div>
</form>



